<ion-row class="spaceItemList" *ngIf="!profileView">
  <ion-col size="2" class="ion-text-center ion-text-capitalize">
    <ion-thumbnail>
      <img [src]="space.photo ? space.photo : defaultSpace">
    </ion-thumbnail>
  </ion-col>
  <ion-col size="4" class="ion-text-center ion-padding-top ion-text-capitalize">{{space.type}} {{space.unitNumber}}</ion-col>
  <ion-col size="2" class="ion-text-center ion-padding-top ion-text-capitalize">{{space.spaceType}}</ion-col>
  <ion-col size="4" class="ion-text-center ion-padding-top ion-text-capitalize">
    {{showOccupant()}}
    <ion-icon class="ion-float-right" name="chevron-forward-outline"></ion-icon>
  </ion-col>
</ion-row>

<ion-row class="spaceItemList" *ngIf="profileView">
  <ion-col size="2" class="ion-text-center ion-text-capitalize">
    <ion-thumbnail>
      <img [src]="space.photo ? space.photo : defaultSpace">
    </ion-thumbnail>
  </ion-col>
  <ion-col size="10" class="ion-text-center ion-padding-top ion-text-capitalize">{{space.type}} {{space.unitNumber}}
    <ion-icon class="ion-float-right" name="chevron-forward-outline"></ion-icon>
  </ion-col>
</ion-row>


    