<div *ngIf="userCtrl.platform !== 'web'">
  <app-main-header *ngIf="services.selectedTab === 'maintenance'" title="Tíquetes"></app-main-header>
  <app-main-header *ngIf="services.selectedTab === 'services'" title="Servicios"></app-main-header>
</div>

<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="services.selectedTab">
    <ion-segment-button value="services" layout="icon-start">
      <ion-label *ngIf="userCtrl.platform === 'web'">Servicios</ion-label>
      <ion-icon name="hammer-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="maintenance" layout="icon-start">
      <ion-label *ngIf="userCtrl.platform === 'web'">Tíquetes</ion-label>
      <ion-icon name="book-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<app-services *ngIf="services.selectedTab === 'services'" style="height: 100%"></app-services>
<app-maintenance *ngIf="services.selectedTab === 'maintenance'" style="height: 100%"></app-maintenance>