<app-main-header title="Servicios"></app-main-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" value="services">
    <ion-segment-button value="services">
      <ion-label> <h2>Servicios</h2> </ion-label> 
    </ion-segment-button>
    <ion-segment-button value="maintenance">
      <ion-label> <h2>Mis Tiquetes</h2> </ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-services *ngIf="selectedTab === 'services'"></app-services>
  <app-maintenance *ngIf="selectedTab === 'maintenance'"></app-maintenance>
</ion-content>
