<ion-content class="ion-padding">
  <p class="ion-text-center ion-text-capitalize inputLogin" style="width: 100%;"> RECUPERAR CONTRASEÑA </p>

  
  <form #login="ngForm" [formGroup]=emailForm (ngSubmit)=enviarEmail(emailForm.value) (keydown)="EnterSubmit($event, emailForm)" novalidate>
    <ion-item>
      <ion-label color="dark" position="floating"> <b>Email</b></ion-label>
      <ion-input color="dark" formControlName="email" type="email" clearInput="true"></ion-input>
    </ion-item>
    
    <ng-container *ngFor="let validation of validationMessages.email">
      <div class="error-message" *ngIf="emailForm.get('email').hasError(validation.type) && (emailForm.get('email').dirty || emailForm.get('email').touched)">
        <ion-text class="ion-padding-start" color="danger"> <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>  {{ validation.message }}</ion-text>
      </div>
    </ng-container>
    <ion-text class="ion-padding-start ion-margin-vertical" color="danger" *ngIf="messageError"> 
      <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>  {{ messageError }}
    </ion-text>

    <ion-row class="ion-margin-top">
      <app-big-button type="submit" class="ion-padding-top" LABEL="SOLICITAR CONTRASEÑA" buttonType="PRIMARY" [loading]="loading" [disabled]="!emailForm.valid || loading" (click)="enviarEmail(emailForm.value)"></app-big-button>
    </ion-row>

    <ion-row class="ion-margin-top">
      <app-big-button class="ion-padding-top" LABEL="Cancelar" buttonType="GRAY" [loading]="loading" [disabled]="false" (click)="cancel()"></app-big-button>
    </ion-row>
  </form> 

</ion-content>