<ion-card *ngIf="user">
  <ion-item>
    <ion-avatar slot="start" class="profileCircle">
      <img src="{{user?.photo ? user?.photo : defaultUser}}">
    </ion-avatar>
    <ion-label>
      <h2>{{user.name}} {{user.lastName}}</h2>
      <ion-text color="secondary"><p>{{user.email}}</p></ion-text>
    </ion-label>
  </ion-item>
</ion-card>

<ion-card *ngIf="shortUser">
  <ion-item>
    <ion-avatar slot="start" class="profileCircle">
      <img src="{{shortUser?.photo ? shortUser.photo : defaultUser}}">
    </ion-avatar>
    <ion-label>
      <h2>{{shortUser.name}}</h2>
      <ion-text color="secondary"><p>{{shortUser.email}}</p></ion-text>
    </ion-label>
  </ion-item>
</ion-card>