<div *ngIf="userCtrl.platform !== 'web'">
  <app-main-header *ngIf="selectedTab === 'request'" title="Tíquetes"></app-main-header>
  <app-main-header *ngIf="selectedTab === 'services'" title="Servicios"></app-main-header>
  <app-main-header *ngIf="selectedTab === 'maintenance'" title="Mantenimientos"></app-main-header>
</div>
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" value="request">
    <ion-segment-button value="request" layout="icon-start">
      <ion-label *ngIf="userCtrl.platform === 'web'">Tíquetes</ion-label>
      <ion-icon name="book-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="services" layout="icon-start">
      <ion-label *ngIf="userCtrl.platform === 'web'">Servicios</ion-label>
      <ion-icon name="hammer-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="maintenance" layout="icon-start">
      <ion-label *ngIf="userCtrl.platform === 'web'">Mantenimiento</ion-label>
      <ion-icon name="build-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<app-request-admin *ngIf="selectedTab === 'request'" style="height: 100%"></app-request-admin>
<app-services-admin *ngIf="selectedTab === 'services'" style="height: 100%"></app-services-admin>
<app-maintenance-admin *ngIf="selectedTab === 'maintenance'" style="height: 100%"></app-maintenance-admin>