.billBorder {
    border-radius: 25px;
    border: 2px solid black;
}

.squareBorder{
    border: 2px solid black;
}

.itemBorder{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.itemMidBorder{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.totalBorder{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.signatureBorder{
    border-bottom: 2px solid black;
}

.signSize{
    height: 90px;
}

.itemDateBorder{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}