<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="background-color: gray;">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="Desliza abajo para refrescar..." 
    refreshingSpinner="dots"></ion-refresher-content> 
  </ion-refresher>
  <app-loading-view *ngIf="loading"></app-loading-view>
  <div *ngIf="!loading && userList.length > 0">
    <ion-row class="headerUserList">
      <ion-col size="3" class="ion-text-center">Nombre</ion-col>
      <ion-col size="3" class="ion-text-center">Espacio</ion-col>
      <ion-col size="4" class="ion-text-center">Email</ion-col>
      <ion-col size="2" class="ion-text-center">Tipo</ion-col>
    </ion-row>
    <app-item-user *ngFor="let user of userList" [user]="user" (click)="userDetail(user)"></app-item-user>
  </div>
  <app-not-data-yet-message 
    *ngIf="userList.length == 0 && !loading"
    text="No tiens usuarios aún" icon="alert-circle-outline"
  ></app-not-data-yet-message>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="secondary" (click)="newUserModal()">
      <ion-icon size="large" color="dark" name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>