ion-item {
    --border-color: #000; 
    --backgroud: var(--ion-color-light-shade)
};

.forgot_text{
    width: 100%;
    text-align: end;
    margin: 0;
    padding-top: 15px;
    font-size: 14pt;
}

.textInput{
    font-size: 15pt;
}