<div *ngIf="userCtrl.platform !== 'web'">
  <app-main-header *ngIf="selectedTab === 'users'" title="Usuarios"></app-main-header>
  <app-main-header *ngIf="selectedTab === 'payments'" title="Pagos"></app-main-header>
</div>
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" value="users">
    <ion-segment-button value="users" layout="icon-start">
      <ion-label *ngIf="userCtrl.platform === 'web'">Usuarios</ion-label>
      <ion-icon name="people-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="payments" layout="icon-start">
      <ion-label *ngIf="userCtrl.platform === 'web'">Pagos</ion-label>
      <ion-icon name="card-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<app-user-list *ngIf="selectedTab === 'users'" style="height: 100%"></app-user-list>
<app-billing-view *ngIf="selectedTab === 'payments'" style="height: 100%"></app-billing-view>


