<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="news">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>ANUNCIOS</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="reservations">
        <ion-icon name="business-outline"></ion-icon>
        <ion-label>ESPACIOS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="services">
        <ion-icon name="construct-outline"></ion-icon>
        <ion-label>SERVICIOS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="users">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>USUARIOS</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>