<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button *ngIf="!reservation" color="danger" [disabled]="loading" (click)="cancelReservation()">
        Cancelar
      </ion-button>
      <ion-button *ngIf="editReservationForm" color="danger" [disabled]="loading" (click)="cancelReservation()">
        Cancelar
      </ion-button>
      <ion-button *ngIf="reservation && !editReservationForm" color="primary" [disabled]="loading" (click)="modal.dismiss(false)">
        Atrás
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">{{reservation ? reservation.reservation.unitNumber: 'Nueva Reserva'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="reservation && currentUser.type === 'administrador' && !showReservationForm" color="dark" (click)="enableForm()">
          Editar
      </ion-button>
      <ion-button *ngIf="reservation && currentUser.type === 'administrador' && showReservationForm" color="dark" (click)="createReservation()">
          Enviar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="loading">
  <app-loading-view></app-loading-view>
</ion-content>

<ion-content *ngIf="!loading && space && !showReservationForm">
  <app-detail-space style="height: 100%;" [user]="currentUser" [space]="space" [reserve]="true"></app-detail-space>
</ion-content>

<ion-content *ngIf="!loading && reservation && !showReservationForm">
  <app-detail-reservation style="height: 100%;" [user]="currentUser" [request]="reservation"></app-detail-reservation>
</ion-content>

<ion-content *ngIf="!loading && space && showReservationForm">
  <ion-card>
    <ion-row>
      <ion-col size="3">
        <ion-thumbnail class="spaceView">
          <ion-img [src]="space.photo ? space.photo : defaultSpace"></ion-img>
        </ion-thumbnail>
      </ion-col>
      <ion-col size="9">
        <ion-item>
          <ion-label>
            <ion-text class="ion-text-capitalize">
              <h2>{{space.type}} {{space.unitNumber}} </h2>
              <h3>Tipo: {{space.spaceType}}</h3>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-list>

    <ion-item *ngIf="users?.length > 1">
      <ion-label position="stacked">Usuario Solicitante:</ion-label>
      <ion-select class="ion-text-capitalize" mode='ios' [value]="selectedUserUID" (ionChange)="userChange($event)">
        <ion-select-option class="ion-text-capitalize" *ngFor="let user of users" [value]="user.uid">{{user.name}} {{user.lastName}}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item (click)="showCalendar1()" *ngIf="!showCalendar">
      <ion-label>Fecha de Evento: </ion-label>
      <ion-label> 
        <ion-text *ngIf="myReservation.scheduleDate" class="dateStyle">
          {{myReservation.scheduleDate | timeFormat: 'DD/MM/YYYY'}}
        </ion-text>
        <ion-text *ngIf="!myReservation.scheduleDate" class="dateStyle noDateStyle">
          (Selección fecha)
        </ion-text>
      </ion-label>
      <ion-button class="downArrow" slot="end" size="small">
        <ion-icon style="--color: #b4b4b4;color: #b4b4b4;font-size: inherit;" name="caret-down-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-row *ngIf="showCalendar">
      <ion-col>
        <ion-label>Fecha de Evento: </ion-label>
        <ion-datetime #datetime style="margin: 0 auto;" [min]="min" [isDateEnabled]="availableDays" presentation="date" 
              [(ngModel)]="myReservation.scheduleDate" (ionChange)="changeScheduleTime(datetime.value)">
          <ion-buttons slot="buttons">
            <ion-button color="danger" (click)="showCalendar1()">Cancelar</ion-button>
            <ion-button color="success" (click)="datetime.confirm()">OK</ion-button>
          </ion-buttons>
        </ion-datetime>
      </ion-col>
    </ion-row>

    <ion-grid class="item_grid" *ngIf="myReservation.scheduleDate">
      <ion-row class="ion-align-items-center">
        <ion-col>
          <p class="ion-no-margin item_text required ion-text-center" position="stacked">Disponibilidad:</p>
          <p class="ion-no-margin item_text required ion-text-center" position="stacked">(Tiempo máximo - {{time.maxTimeString(space.rentData.maxTime)}})</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center" *ngIf="scheduleTimes?.length === 1">
        <ion-col *ngFor="let timeSlot of scheduleTimes; index as i">
          <div class="time_box {{timeSlot.disabled?'disabled':(timeSlot.selected?'selected':'')}}"
          (click)="timeSlotClicked(i,timeSlot)"
          >{{timeSlot.time}}</div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center" *ngIf="scheduleTimes?.length > 1">
        <ion-col size="6" *ngFor="let timeSlot of scheduleTimes; index as i">
          <div class="time_box {{timeSlot.disabled?'disabled':(timeSlot.selected?'selected':'')}}"
          (click)="timeSlotClicked(i,timeSlot)"
          >{{timeSlot.time}}</div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center" *ngIf="timeSlotStart.date">
        <ion-col>
          <p class="ion-no-margin ion-text-center">{{!timeSlotStart.date?'Seleccione tiempo':'Hora de Reserva'}}</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center" *ngIf="timeSlotStart.date">
        <ion-col class="ion-no-margin ion-text-center">
          <p class="ion-no-margin item_text ion-text-center ion-text-capitalize">{{timeSlotStart.date | timeFormat: 'displayDateUTC'}}</p>
          <p class="ion-no-margin item_text ion-text-center ion-text-capitalize">{{timeSlotStart.hour}} - {{timeSlotEnd.hour}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="timeSlotStart.date">
      <ion-row class="ion-align-items-center">
        <ion-col size="7">
          <p class="ion-no-margin item_text">¿Cuantos acompañantes traerá con usted?</p>
        </ion-col>
        <ion-col size="5">
          <ion-row class="input_bg">
            <ion-col class="ion-text-center guest_size" (click)="guestCounterButton('minus')">
              <ion-icon style="padding-top: 5pt;" name="remove-circle-outline"></ion-icon>
            </ion-col>
            <ion-col class="ion-text-center guest_size">
              {{guestCounter}}
            </ion-col>
            <ion-col class="ion-text-center guest_size" (click)="guestCounterButton('plus')">
              <ion-icon style="padding-top: 5pt;" name="add-circle-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <p class="ion-no-margin item_text ion-text-center">Grupo: {{guestCounter}}/{{space.rentData.capacity}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
</ion-content>
<ion-footer *ngIf="!loading && ((space && !reservation) || 
    reservation.status === 'Solicitado' && (currentUser.type === 'administrador' || reservation?.requestBy.uid === currentUser.uid))">
  <ion-toolbar>
    <app-big-button *ngIf="(!reservation || editReservationForm) && showReservationForm" class="ion-padding-top" LABEL="Enviar" buttonType="SECONDARY" [loading]="loading" [disabled]="loading || !myReservation.scheduleDate || !timeSlotStart.date" (click)="createReservation()"></app-big-button>
    <app-big-button *ngIf="space && !showReservationForm" class="ion-padding-top" LABEL="SOLICITAR" buttonType="SECONDARY" [loading]="loading" [disabled]="loading" (click)="enableForm()"></app-big-button>
    <ion-row>
      <ion-col>
        <app-big-button *ngIf="reservation && currentUser.type === 'administrador'" class="ion-padding-top" LABEL="APROBAR" buttonType="SUCCESS" [loading]="loading" [disabled]="loading" (click)="changeStateReserve('Aprobado')"></app-big-button>
      </ion-col>
      <ion-col>
        <app-big-button *ngIf="reservation && (currentUser.type === 'administrador' || reservation.requestBy.uid === currentUser.uid)" class="ion-padding-top" LABEL="CANCELAR" buttonType="RED" [loading]="loading" [disabled]="loading" (click)="changeStateReserve('Cancelado')"></app-big-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>