<app-main-header title="Avisos"></app-main-header>


<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="background-color: gray;">
      <ion-refresher-content pullingIcon="arrow-down" pullingText="Desliza abajo para refrescar..." refreshingSpinner="dots"></ion-refresher-content> 
    </ion-refresher>

    <app-not-data-yet-message 
      *ngIf="noticeList.length == 0 && !loading"
      text="No hay anuncios aún" icon="archive-outline"
    ></app-not-data-yet-message>
  
    <ion-list *ngIf="noticeList.length>0">
        <ion-row>
          <ion-col sizeMd="6" sizeXs="12" *ngFor="let notice of noticeList">
            <ion-card>
                <div style="display:flex; ">
                    <ion-icon slot="start" color="tertiary" size="large" [name]="notice.type.icon"></ion-icon>
                    <ion-text color="tertiary" style="padding: 7px;">{{notice.type.name}}</ion-text></div>
                <div style="height: 20vw;">
                    <ion-img [src]="notice.photo"></ion-img>
                </div>
                <div class="ion-text-center" (click)="detailNotice(notice)">
                    <ion-text class="ion-text-capitalized" color="dark" class="textMessage">
                        {{notice.title}}
                    </ion-text>
                </div>
            </ion-card>
            <app-notice-bottom-bar [likes]="notice.likes.length" [comments]="notice.comments.length" [notice]="notice" [userUID]="user.uid"></app-notice-bottom-bar>
          </ion-col>
        </ion-row>
    </ion-list>
    
    <ion-list *ngIf="loading">
        <app-loading-view></app-loading-view>
      </ion-list>
</ion-content>
