<app-main-header title="Avisos"></app-main-header>


<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="background-color: gray;">
      <ion-refresher-content pullingIcon="arrow-down" pullingText="Desliza abajo para refrescar..." refreshingSpinner="dots"></ion-refresher-content> 
    </ion-refresher>

    <app-not-data-yet-message 
      *ngIf="noticeList.length == 0 && !loading"
      text="No hay anuncios aún" icon="archive-outline"
    ></app-not-data-yet-message>
  
    <ion-list *ngIf="noticeList.length>0">
        <ion-card *ngFor="let notice of noticeList" (click)="detailNotice(notice)">
            <ion-item>
                <ion-icon slot="start" color="tertiary" size="large" [name]="notice.type.icon"></ion-icon>
                <ion-label>
                    <ion-text color="tertiary">{{notice.type.name}}</ion-text>
                </ion-label>
            </ion-item>
            <img [src]="notice.photo">
            <ion-row class="ion-text-center">
                <ion-text class="ion-text-capitalized" color="dark">
                    <h3>{{notice.title}}</h3>
                </ion-text>
            </ion-row>
            <app-notice-bottom-bar [likes]="notice.likes.length" [comments]="notice.comments.length" [notice]="notice" [userUID]="user.uid"></app-notice-bottom-bar>
        </ion-card>
    </ion-list>
    
    <ion-list *ngIf="loading">
        <app-loading-view></app-loading-view>
      </ion-list>
</ion-content>
