<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="background-color: gray;">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="Desliza abajo para refrescar..." refreshingSpinner="dots"></ion-refresher-content> 
  </ion-refresher>
  
  <ion-list *ngIf="loading">
    <app-loading-view></app-loading-view>
  </ion-list>
  
  <app-not-data-yet-message 
    *ngIf="itemList.length == 0 && !loading"
    text="No tiene mantenimientos aún" icon="alert-circle-outline"
  ></app-not-data-yet-message>
  
  <ion-list *ngIf="itemList.length > 0 && !loading">
    <ion-row class="headerServiceList">
      <ion-col size="2" class="ion-text-center"></ion-col>
      <ion-col size="5" class="ion-text-center">Tipo</ion-col>
      <ion-col size="5" class="ion-text-center">Servicio</ion-col>
    </ion-row>
    <app-service-item *ngFor="let service of itemList" [service]="service" [maintenance]="true"
    (click)="editService(service)"></app-service-item>
  </ion-list>
    
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="secondary" (click)="editService(null)">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>