<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <ion-item>
      <ion-thumbnail *ngIf="!newImage" slot="start" class="profileCircle" (click)="addPhoto()">
        <img class="imageProfile" src="{{user?.photoURL ? user?.photoURL : defaultUser}}">
        <div class="cameraButton">
          <ion-icon name="camera-outline" color="light"></ion-icon>
        </div>
      </ion-thumbnail>
      <ion-thumbnail *ngIf="newImage" slot="start" class="profileCircle">
        <img src="{{newImage.webPath}}">
        <ion-spinner class="uploadingImage" size="large" name="circles"></ion-spinner>
        <ion-progress-bar class="loadingImage" color="primary" [value]="progress"></ion-progress-bar>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="dark">
          <ion-card-title>{{userData ? userData.name + ' ' + userData.lastName : 'Loading...'}}</ion-card-title>
        </ion-text>
        <p>{{user?.email ? user?.email : '_'}}</p>
        <ion-text color="primary">
          <p class="ion-text-capitalize">Type: {{user?.displayName ? user?.displayName : '_'}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-list *ngIf="!edit">
      <ion-item>
        <ion-label color="dark" position="floating"> <b>Nombre</b></ion-label>
        <ion-input value="{{userData ? userData.name : ''}}" type="text" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" position="floating"> <b>Apellido</b></ion-label>
        <ion-input value="{{userData ? userData.lastName : ''}}" type="text" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" position='floating'><b>Cumpleaños</b></ion-label>
        <ion-input value="{{userData ? userData.birthDate : ''}}" type="date" [disabled]="true"></ion-input>
      </ion-item>
    </ion-list>

    <form *ngIf="edit" #email="ngForm" [formGroup]="registerForm" (keydown)="EnterSubmit($event, registerForm)" novalidate>
      <ion-item>
        <ion-label color="dark" position="floating"> <b>Nombre</b></ion-label>
        <ion-input color="dark" formControlName="name" type="text" clearInput="true"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validationMessages.name">
        <div class="error-message" *ngIf="registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)">
          <ion-text class="ion-padding-start" color="danger"> <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>  {{ validation.message }}</ion-text>
        </div>
      </ng-container>
    
      <ion-item>
        <ion-label color="dark" position="floating"> <b>Apellido</b></ion-label>
        <ion-input color="dark" formControlName="lastName" type="text" clearInput="true"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validationMessages.lastName">
        <div class="error-message" *ngIf="registerForm.get('lastName').hasError(validation.type) && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched)">
          <ion-text class="ion-padding-start" color="danger"> <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>  {{ validation.message }}</ion-text>
        </div>
      </ng-container>
    
      <ion-item>
        <ion-label color="dark" position='floating'><b>Cumpleaños</b></ion-label>
        <ion-input color="dark" formControlName="birthday" type="date" clearInput="true"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validationMessages.birthday">
        <div class="error-message" *ngIf="registerForm.get('birthday').hasError(validation.type) && (registerForm.get('birthday').dirty || registerForm.get('birthday').touched)">
          <ion-text class="ion-padding-start" color="danger"> <ion-icon class="vertical-align" color="danger" name="alert-circle-outline"> </ion-icon>  {{ validation.message }}</ion-text>
        </div>
      </ng-container>
    </form>
    <ion-row *ngIf="!edit">
      <app-big-button class="ion-padding-top"  style="width: 100%;" LABEL="EDITAR USUARIO" buttonType="danger" [loading]="loading" [disabled]="false" (click)="editForm()"></app-big-button>
    </ion-row>
    <ion-row *ngIf="edit">
      <app-big-button class="ion-padding-top"  style="width: 100%;" LABEL="GUARDAR" buttonType="danger" [loading]="loading" [disabled]="false" (click)="editForm()"></app-big-button>
    </ion-row>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <app-big-button class="ion-padding-top" LABEL="CERRAR SESIÓN" buttonType="danger" [loading]="loading" [disabled]="false" (click)="cerrarSesion()"></app-big-button>
  </ion-toolbar>
</ion-footer>
