<ion-content>
  <swiper style="--swiper-navigation-color: black;--swiper-pagination-color: #fff;
    width: 98vw !important; height: 98vh !important;"
    [zoom]="true" [navigation]="true" [pagination]="{ clickable: true }"
    class="mySwiper" #SlidesImg>
    <ng-template swiperSlide>
      <div class="swiper-zoom-container">
        <img src="{{ img.url }}">
      </div>
    </ng-template>
  </swiper>
</ion-content>
 
<ion-footer>
  <ion-row>
    <ion-col size="4" class="ion-text-center">
      <ion-button *ngIf="zoomSetting" (click)="zoom(false, SlidesImg)" fill="clear" color="dark">
        <ion-icon name="scan-outline" slot="start"></ion-icon> Out
      </ion-button>
      <ion-button *ngIf="!zoomSetting" fill="clear" color="tertiary">
        <ion-icon name="scan-outline" slot="start"></ion-icon> Out
      </ion-button>
      
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button *ngIf="!zoomSetting" (click)="zoom(true, SlidesImg)" fill="clear" color="dark">
        <ion-icon name="search-outline" slot="start"></ion-icon> In
      </ion-button>
      <ion-button *ngIf="zoomSetting" fill="clear" color="tertiary">
        <ion-icon name="search-outline" slot="start"></ion-icon> In
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button (click)="close()" fill="clear" color="danger">
        <ion-icon name="close" slot="start"></ion-icon> Close
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>