<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="background-color: gray;">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="Desliza abajo para refrescar..." refreshingSpinner="dots"></ion-refresher-content> 
  </ion-refresher>
  
  <ion-list *ngIf="loading">
    <app-loading-view></app-loading-view>
  </ion-list>
  
  <app-not-data-yet-message 
    *ngIf="itemList.length == 0 && !loading"
    text="No tiene solicitudes aún" icon="alert-circle-outline"
  ></app-not-data-yet-message>
  
  <ion-list *ngIf="itemList.length > 0 && !loading">
    <app-item-request *ngFor="let request of itemList" [request]="request" [reserve]="false" (click)="openRequest(request,null)"></app-item-request>
  </ion-list>
    
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="secondary" (click)="createRequest()">
      <ion-icon size="large" name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>