<app-main-header title="Avisos"></app-main-header>


<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="background-color: gray;">
      <ion-refresher-content pullingIcon="arrow-down" pullingText="Desliza abajo para refrescar..." refreshingSpinner="dots"></ion-refresher-content> 
    </ion-refresher>

    <app-not-data-yet-message 
      *ngIf="noticeList.length == 0 && !loading"
      text="No hay anuncios aún" icon="archive-outline"
    ></app-not-data-yet-message>
  
    <ion-list *ngIf="noticeList.length>0">
        <app-image-loader *ngFor="let notice of noticeList" [notice]="notice" [user]="userData" (click)="detailNotice(notice)"></app-image-loader>
    </ion-list>
    
    <ion-list *ngIf="loading">
        <app-loading-view></app-loading-view>
      </ion-list>
</ion-content>
