.cropImg{ 
    object-fit: cover;
    width: 30vw;
    height: 30vw;
    border-radius: 7px;
}
// <img class="cropImg" [src]="notice.photo" />

.rect-img-container {
    position: relative;
  }
  
  .rect-img-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .rect-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
  }
  
  .textMessage{    
    font-size: 14pt;
    background-color: #ffffffdb;
    padding: 7pt;
    margin: 0 auto;
    display: inline-table;
    text-align: center;
    width: 100%;
}