<app-main-header title="Anuncios" [rightButton]="reloadData"></app-main-header>

<ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="background-color: gray;">
      <ion-refresher-content pullingIcon="arrow-down" pullingText="Desliza abajo para refrescar..." refreshingSpinner="dots"></ion-refresher-content> 
    </ion-refresher>

    <app-not-data-yet-message 
      *ngIf="noticeList.length == 0 && !loading"
      text="No hay anuncios aún" icon="archive-outline"
    ></app-not-data-yet-message>
  
    <ion-list *ngIf="noticeList.length>0">
        <ion-card *ngFor="let notice of noticeList" (click)="detailNotice(notice)">
            <ion-card-header>
                <ion-card-subtitle>
                    <ion-icon color="tertiary" size="small" [name]="notice.type.icon"></ion-icon>
                    <ion-text color="tertiary">{{notice.type.name}}</ion-text>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-img [src]="notice.photo"></ion-img>
            <ion-item detail>
                <ion-label>
                    <p>{{notice.title}}</p>
                </ion-label>
            </ion-item>
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-icon name="thumbs-up-outline"></ion-icon> Likes {{notice.likes.length}}
                </ion-col>
                <ion-col class="ion-text-center">
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon> Comentarios {{notice.comments.length}}
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
    
    <ion-list *ngIf="loading">
        <app-loading-view></app-loading-view>
      </ion-list>
</ion-content>
