<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" *ngIf="title === 'Mi Perfil' && userCtrl.edit">
      <ion-button color="danger" (click)="userCtrl.editUser()">
        Cancelar
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">{{title}}</ion-title>
    <ion-buttons [ngSwitch]="title" slot="end">
      <div *ngSwitchCase="'Mi Perfil'" >
        <ion-button *ngIf="!userCtrl.edit" color="danger" (click)="cerrarSesion()">
          Cerrar Sesión
        </ion-button>
      </div>
      <ion-button *ngSwitchCase="'Usuarios'" (click)="goProfile()">
        Mi Perfil
      </ion-button>
      <ion-button *ngSwitchCase="'Anuncios'" (click)="createNotice()">
        Nuevo Anuncio
      </ion-button>
      <ion-button *ngSwitchCase="'Servicios'" (click)="goProfile()">
        Agenda
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>